.git
.gitignore
.vscode
.dart_tool
android
ios
lib
web
linux
macos
windows
installer
build
node_modules
*.log
backend/node_modules
backend/backups
backend/_filtered
backend/encrypt.exe
backend/server.exe
backend/scratch
